includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - routes
        - packages/lite-crm/src
        - packages/lite-crm/config
        - packages/lite-crm/database
    excludePaths:
        analyseAndScan:
            - packages/lite-crm/vendor (?)
    configDirectories:
        - config
        - packages/lite-crm/config
    tmpDir: storage/framework/cache/phpstan
